.card-img-wrapper {
  height: 350px;        
  width: 100%;
  overflow: hidden;    
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-wrapper img {
  width: 95%;
  height: 100%;
  border-radius: 2%;
  object-fit: cover;   
}
